body{
    background-color: #fe9999;
    color: #03680b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

h1{
    margin-top: 50px;
    font-size: 36px;
}

button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(10, 165, 242);
    color: rgb(213, 250, 238);
    cursor: pointer;
}