body{
    background-color: #fe9999;
    color: #03680b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

h1{
    margin-top: 50px;
    font-size: 36px;
}
input{
    margin: 20px;
    width: 250px;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
}
button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    background-color: #0aa5f2;
    color: #d5faee;
    cursor: pointer;
}

#botaoEnviar{
    background-color: #8303b6;
}